<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tiles_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,270}</string>
                <key>spriteSourceSize</key>
                <string>{288,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{288,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,270}</string>
                <key>spriteSourceSize</key>
                <string>{288,270}</string>
                <key>textureRect</key>
                <string>{{288,0},{288,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,270}</string>
                <key>spriteSourceSize</key>
                <string>{288,270}</string>
                <key>textureRect</key>
                <string>{{576,0},{288,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,270}</string>
                <key>spriteSourceSize</key>
                <string>{288,270}</string>
                <key>textureRect</key>
                <string>{{864,0},{288,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tiles0.png</string>
            <key>size</key>
            <string>{1152,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bc556ddfd58af9d1470aa2a4c8ebd54:312a8108840a4168573bca1a7d3cccc5:e431895bafa7274894fa1d0348080dfb$</string>
            <key>textureFileName</key>
            <string>tiles0.png</string>
        </dict>
    </dict>
</plist>
